
body {
    background-color: rgb(248, 199, 248);
}
.image-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    height: 15rem;
    width: 100%;
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-color: cornflowerblue;
    background-size: cover;
    background-repeat: no-repeat;
}

#questDisp {
    position: absolute;
    z-index: 10;
    left: 25%;
    top: 20%;
    width: 60%;
    background-color: whitesmoke;
    border-radius: 10px;
}

.headText {
    display: flex;
    flex-direction: row;
    margin: 3rem auto;
}

.headText img {
    height: 40px;
    width: 40px;
    margin: auto 1rem;
}

.headText h2 {
    font-weight: 700;
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.questCase {
    margin: auto 1em;
}

#quest-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#quest-field {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quest-ans {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
}

.display-value {
    display: none;
}